# Object files
*.o
.DS_Store
.localized

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/RacingManager/nbproject/private/
/RacingManager/build/
/RacingManager/dist/

# LaTeX
*.aux
*.log
*.pdf
*.synctex
*.toc
*Temp